*.png
*.mp3
*.mp4
*.gif
*.ogv
*.mkv
*.xcf
*.svg
*.jpg

# Anything under 10 kb can just always be saved directly to the repo.
!Silhouette-mouse-standing.svg

# hir　ひらがな
# カタカナ

# https://upload.wikimedia.org/wikipedia/commons/0/09/Hiragana_Chart_Seion_Dakuon_Yoon.png



# https://upload.wikimedia.org/wikipedia/commons/2/21/Silhouette-mouse-standing.svg


!Hiragana_and_katakana.svg


# https://upload.wikimedia.org/wikipedia/commons/9/91/Japanese_Katakana_A.svg
Japanese_Katakana_A.svg



# TODO python script that downloads these
# https://upload.wikimedia.org/wikipedia/commons/4/49/Armadillo2.jpg
Aramdillo2.jpg
# https://commons.wikimedia.org/wiki/File:En-us-armadillo.ogg
En-us-armadillo.ogg
# https://upload.wikimedia.org/wikipedia/commons/7/70/Birds_and_All_Nature_1898-07_04_various.ogg
Birds_and_All_Nature_1898-07_04_various.ogg


!Birds_and_All_Nature_1898-07_04_various.txt

# https://commons.wikimedia.org/wiki/File:Clarence_F._Brown_-_Armadillo_Rag_-_Two_Step_(1911).ogg


# https://commons.wikimedia.org/wiki/File:Nl-armadillo%27s.ogg
# https://upload.wikimedia.org/wikipedia/commons/5/55/Nl-armadillo%27s.ogg
Nl-armadillo's.ogg


# https://upload.wikimedia.org/wikipedia/commons/b/b3/LL-Q7026_%28cat%29-Marvives-armadillo.wav
LL-Q7026_(cat)-Marvives-armadillo.wav



# https://commons.wikimedia.org/wiki/File:Soccer_Ball_-_The_Noun_Project.svg
!Soccer_Ball_-_The_Noun_Project.svg